# Airflow logs
logs/
*.log

# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Jupyter
notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/

# Data (opcional - comenta estas líneas si quieres subir los CSV)
# data/*.csv

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db